---
let className = "dark";
---

<html lang="en" class={className}>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kelvin Lee</title>
</head>

<body class="dark:bg-zinc-900 bg-red-50">
  <h1 onclick={()=> className = 'dark'} class="text-2xl">Kelvin Lee</h1>
</body>

</html>