---
import ThemeButton from "../components/ThemeButton.astro";
import { Icon } from 'astro-icon'
import '../styles/global.css'
import { Content as Bio } from '../content/Bio.md'
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="wrapper">
    <section class="container max-w-screen-lg h-min mx-auto flex justify-between items-stretch">
      <section class="container flex flex-col gap justify-between">
        <div>
          <h1 class="">Hey, it's Kelvin 👋🏼</h1>
          <h2>A Frontend Engineer</h2>
          <h2 class="underline">based in Toronto</h2>
        </div>
        <p>Currently at <a href="/">twg+deloitte</a></p>
        <div class="container p-0">
          <ul class="flex gap-1">
            <li>
              <a href="/">
                <Icon name="akar-icons:github-fill"></Icon>
              </a>
            </li>
            <li>
              <a href="/">
                <Icon name="akar-icons:github-fill"></Icon>
              </a>
            </li>
            <li>
              <a href="/">
                <Icon name="akar-icons:github-fill"></Icon>
              </a>
            </li>
            <li>
              <a href="/">
                <Icon name="akar-icons:github-fill"></Icon>
              </a>
            </li>
          </ul>
          <a href="/resume">Resume/CV</a>
          <ThemeButton />
        </div>
      </section>
      <section class="container font-sans flex flex-col gap-4">
        <Bio />
      </section>
    </section>
  </main>
</MainLayout>