---
import MainLayout from "../layouts/MainLayout.astro";
import { email } from '../content/data'

const Email = email
---

<MainLayout>
  <div class="wrapper container flex flex-col justify-center items-center">
    <a class="text-center font-bold w-max" href="/">
      👈🏼 Go Back </a>
    <p class="mx-auto text-center max-w-lg">Currently, only providing my resume by request.
    </p>
    <p class="mx-auto text-center max-w-lg">
      Shoot me an email at <a href={`mailto:${email}?subject=Resume Request`} target="_blank">{email}</a>
    </p>
  </div>
  <script is:inline>
    let htmlEl = document.querySelector('html');
    let toggleBtn = document.querySelector('#switch');

    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      localStorage.setItem('theme', 'dark');
      htmlEl.classList.add('dark')
    } else {
      localStorage.setItem('theme', 'light');
      htmlEl.classList.remove('dark')
    }
  </script>
</MainLayout>