---
import ThemeButton from './ThemeButton.astro';

const links = [
  // { label: 'Home', url: '/' },
  // { label: 'Blog', url: '/blog' },
];
---

<header class='py-4 px-[1rem] sm:px-10 max-w-screen-lg container w-screen'>
  <nav class='flex justify-between gap-6 px-[1rem]'>
    <ThemeButton />
    <ul class='flex justify-end gap-6'>
      {
        links.map((link) => (
          <li>
            <a href={link.url}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
