---
import '../styles/global.css'
---

<html lang="en" class="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kelvin Lee | Frontend Engineer</title>
</head>

<body class="relative dark:bg-zinc-900 dark:text-zinc-50 bg-neutral-100 antialiased transition-colors duration-300">
  <!-- INNER CONTENT -->
  <slot />
  <!-- END -->

  <footer class="w-screen text-center font-mono absolute sm:bottom-0 text-xs py-1 px-4">
    <p class="text-neutral-500">website designed and built by me with <a href="https://astro.build/"
        target="_blank">astro</a> + <a href="https://tailwindcss.com/" target="_blank">tailwind</a> at this
      <a href="/">repo</a>
    </p>
  </footer>
</body>

</html>